<div class="conteiner">
    <div class="card" >
        <img  class="card-img-top cenzor" >
        <div class="card-body">
          <h5 class="card-title">Angular list of prohibited words</h5>
    
          <a [routerLink]="[ '/works/cenzor' ]" routerLinkActive="active"  class="btn btn-primary">details</a>
        </div>
      </div>
      <div class="card" >
        <img  class="card-img-top task" >
        <div class="card-body">
          <h5 class="card-title">Angular task list </h5>
    
          <a   [routerLink]="[ '/works/tasklist' ]" routerLinkActive="active" class="btn btn-primary">details</a>
        </div>
      </div>
      <div class="card" >
        <img  class="card-img-top user" >
        <div class="card-body">
          <h5 class="card-title">Angular users lists </h5>
    
          <a  [routerLink]="[ '/works/userlist' ]" routerLinkActive="active"  class="btn btn-primary">details</a>
        </div>
      </div>



</div>

